<!DOCTYPE html> 
<html>
    <head>
        <title>Django Blog App</title>
    </head>
    <body>
        <header>
            <h1><a href="/"> Django Blog App</a></h1>
        </header>

        <article>
            <time>published: 01.01.1999, 00:00</time>
            <h2><a href=""> Test </a></h2>
            <p>This is a test.</p>
        </article>

        <article>
            <time>published: 01.02.2000, 00:30</time>
            <h2><a href=""> Test 2 </a></h2>
            <p>This is the second test paragraph.</p>
        </article>
    </body>
</html>